

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  height: auto;
}

.swiper-slide > div {
  height: 100%;
}

.swiper {
    overflow: visible !important;
}

.swiper-wrapper {
    overflow: visible !important;
}

.swiper-slide {
  transition: all 0.3s ease !important;
}


.swiper-slide {
  position: relative;
  z-index: 0;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.swiper-slide:hover {
  z-index: 999; /* passe au-dessus */
}
